<!-- PCDF TALENT SCOUT BOT (SEARCHING FOR FUTURE DEBATERS) -->
<div class="scout-bot-container">
    <div class="scout-ambient-glow"></div>
    <div class="modelViewPort">
        <div class="eva">
            <div class="head">
                <div class="eyeChamber">
                    <div class="eye"></div>
                    <div class="eye"></div>
                </div>
            </div>
            <div class="body">
                <div class="hand"></div>
                <div class="hand"></div>
                <div class="scannerThing"></div>
                <div class="scannerOrigin"></div>
            </div>
        </div>
    </div>
    <div class="scout-ground-shadow"></div>
</div>
